.header {
  background-color: #020816;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 64px;
}

.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1014px;
}

.header-logo {
  display: flex;
  align-items: center;
}

.logo-image {
  width: 26px;
  height: 26px;
  margin-right: 5px;
}

.logo-text {
  font-size: 19px;
  font-weight: bold;
  color: #FFFFFF;
}

.nav-link {
  color: #A0AEC0;
  font-size: 1rem;
}

.nav-link:hover {
  color: #FFFFFF;
}
