.vision-container {
    display: flex;
    align-items: center;
    justify-content: center;
    background: radial-gradient(66% 79% at 0% 100%, #55E1DD 0%, #00649E 23.91%, #020816 100%);
    background-size: cover;
    padding-top: 93px;
    padding-bottom: 85px;
    padding-left: 5rem;
    padding-right: 5rem;
  }

  .vision-content {
    width: 1014px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
  }


  .vision-images {

  }

  .vision-image {
    width: 535px;
    left: -50px;
    top: -14px;
    position: relative;
  }

  .vision-text {
    flex-basis: 50%;
    text-align: left;
  }


  .vision-badge {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 84px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    padding: 8px 16px;
    width: auto;
    height: 36px;
    white-space: nowrap;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.1) 0%, rgba(229, 229, 232, 0.1) 100%);
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.06);
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    color: rgba(255, 255, 255, 1);
    margin-bottom: 24px;
  }

  .vision-title {
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 20px;
    color: #ffffff;
    line-height: 48px;
  }

  .vision-description {
    font-size: 16px;
    color: #9ca3af;
    margin-bottom: 1.5rem;
    line-height: 26px;
    font-weight: 400;
  }

  @media (max-width: 1200px) {
    .vision-container {
      padding-left: 16px;
      padding-right: 16px;
    }

  }

  @media (max-width: 768px) {
    .vision-container {
      padding-top: 16px;
      padding-bottom: 48px;
      padding-left: 3rem;
      padding-right: 3rem;
    }

    .vision-content {
      flex-direction: column-reverse;
    }

    .vision-text {
      text-align: center;
    }

    .vision-title {
      font-size: 26px;
      line-height: 36px;
    }

    .vision-description {
      font-size: 14px;
      line-height: 22px;
    }

    .vision-image {
      width: 100%;
      height: auto;
      margin-top: 10px;
    }
  }
