.footer-container {
    background: radial-gradient(50% 100% at 50% 137.5%, #02303A 0%, rgba(0, 40, 60, 0.8) 23.91%, #020816 100%);
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    max-width: 1200px;
    margin: 0 auto;
    gap: 40px;
    padding-bottom: 1rem;
}

.footer-logo {
    font-size: 1.5rem;
    font-weight: bold;
    color: #FFFFFF;
}

.footer-logo-highlight {
    color: rgba(255, 255, 255, 0.6);
}

.footer-section {
    margin-right: 2rem;
}

.footer-section-title {
    font-size: 14px;
    font-weight: 500;
    color: rgba(255, 255, 255, 1);
    line-height: 20px;
    margin-bottom: 16px;
}

.footer-links {
    list-style: none;
    padding: 0;
    margin: 0;
}

.footer-links li {
    margin-bottom: 16px;
}

.footer-links a {
    color: rgba(174, 174, 184, 1);
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    line-height: 26px;
}

.footer-links a:hover {
    color: #FFFFFF;
}

.footer-copyright {
    text-align: center;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    color: rgba(255, 255, 255, 1);
    padding-top: 1rem;
}

.footer-logo-image {
    width: 83px;
    height: 32px;
}

@media (max-width: 768px) {
    .footer-container {
        padding: 15px;
    }
  }