.product-container {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #020816;
  }
  
  .product-grid {
    display: grid;
    grid-template-columns: 346px 648px;
    gap: 32px;
    margin: auto;
    align-items: start;
  }
  
  .product-left {
    flex-direction: column;
    gap: 1rem;
    width: 346px;
    height: 318px;
  }
  
  .product-right {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 32px;
    width: 648px;
    height: 608px;
  }
  
  .product-badge {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 84px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    padding: 8px 16px;
    white-space: nowrap;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.1) 0%, rgba(229, 229, 232, 0.1) 100%);
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.06);
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    color: rgba(255, 255, 255, 1);
    margin-bottom: 24px;
  }
  
  .product-title {
    font-size: 40px;
    line-height: 48px;
    font-weight: 700;
    color: #FFFFFF;
    margin-bottom: 20px;
  }
  
  .product-description {
    color: #9CA3AF;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
  }
  
  .product-feature {
    background: rgba(2, 8, 22, 1);
    border: 1px solid rgba(255, 255, 255, 0.2);
    padding: 32px;
    border-radius: 0.75rem;
    text-align: left;
    width: 308px;
    height: 290px;
  }
  
  .product-feature h4 {
    font-size: 20px;
    font-weight: 600;
    color: #FFFFFF;
  }
  
  .product-feature p {
    color: #9CA3AF;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    margin-bottom: 8px;
  }
  
  .product-icons {
    width: 40px;
    height: 40px;
    margin-bottom: 20px;
  }
  