.product-container {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #020816;
    padding-top: 95px;
    padding-bottom: 95px;
    padding-left: 80px;
    padding-right: 80px;
  }

  .product-content {
    display: flex;
    gap: 28px;
    align-items: start;
    flex-direction: row;
    justify-content: center;
    width: 1014px;
  }

  .product-left {
    flex-direction: column;
    gap: 16px;
    width: 346px;
    height: auto;
  }

  .product-right {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 32px;
    width: 648px;
    height: auto;
  }

  .product-badge {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 84px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    padding: 8px 16px;
    white-space: nowrap;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.1) 0%, rgba(229, 229, 232, 0.1) 100%);
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.06);
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    color: rgba(255, 255, 255, 1);
    margin-bottom: 24px;
  }

  .product-title {
    font-size: 40px;
    line-height: 48px;
    font-weight: 700;
    color: #FFFFFF;
    width: 290px;
    margin-bottom: 20px;
  }

  .product-description {
    color: #9CA3AF;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    width: 350px;
  }

  .product-feature {
    background: rgba(2, 8, 22, 1);
    border: 1px solid rgba(255, 255, 255, 0.2);
    padding: 32px;
    border-radius: 0.75rem;
    text-align: left;
    width: 308px;
    height: 290px;
  }

  .product-feature h4 {
    font-size: 20px;
    font-weight: 600;
    color: #FFFFFF;
  }

  .product-feature p {
    color: #9CA3AF;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    margin-bottom: 8px;
  }

  .product-icons {
    width: 40px;
    height: 40px;
    margin-bottom: 20px;
  }

  @media (max-width: 1200px) {
    .product-container {
      padding: 95px 48px;
      height: auto;
    }

    .product-content {
      align-items: center;
      flex-direction: column;
    }

    .product-left {
      display: flex;
      align-items: center;
      gap: 0;
    }

    .product-right {
      display: grid;
      gap: 32px;
    }

    .product-title {
      margin-bottom: 20px;
      text-align: center;
      width: auto;
    }

    .product-description {
      font-size: 16px;
      line-height: 22px;
      margin-bottom: 12px;
      text-align: center;
      width: 648px;
    }

    .product-feature {
      max-width: 320px;
      max-height: 320px;
    }
  }

  @media (max-width: 768px) {
    .product-container {
      padding: 32px 16px;
      height: auto;
    }

    .product-title {
      font-size: 26px;
      width: 420px;
    }
    .product-right {
      align-items: center;
      width: auto;
    }
  }

  @media (max-width: 720px) {
    .product-content {
      width: auto;
    }

    .product-title {
      width: auto;
    }

    .product-left {
      width: auto;
    }

    .product-right {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    .product-description {
      font-size: 14px;
      width: unset;
    }
  }
